.products-main-div {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.product-list-heading {
  font-family: 'Nunito', sans-serif;
  font-size: x-large;
}
.product-group {
  /* max-width:; */
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  /* grid-template-columns: 1fr 1fr; */
  /* justify-items: center; */
}
/* @media screen and(max-width: 850px) {
  .product-group {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
  }
} */
