.product-list-heading {
  font-family: 'Nunito', sans-serif;
  font-size: x-large;
}
.product-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-items: center; */
}
/* @media screen and(max-width: 850px) {
  .product-group {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
  }
} */
