.button {
  color: white;
  background-color: #555555;
  font-size: 20px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5px;
  margin-bottom: 5px;
}
