.product-card {
  max-width: fit-content;
  margin: 20px;
  display: flex;
}

.product-card-title {
  font-family: 'Nunito', sans-serif;
}
.product-card-details {
  margin: 20px;
}
.individual-product {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  transition: 1s;
  -webkit-transform: scale(1.01);
}
.product-cart-image:hover {
  -webkit-transform: scale(1.01);
  transition: 0.25s;
}
@media only screen and (max-width: 600px) {
  .product-card-details {
    margin: 0;
    margin-left: 10px;
  }
  .product-card {
  }
  .individual-product {
    width: 95vw;
  }
}
