.product-card {
  margin-left: 20px;
  margin-bottom: 30px;
  display: flex;
  /* justify-content: space-around; */
}
.product-card-title {
  margin: 20px;
  font-family: 'Nunito', sans-serif;
}
/* .individual-product {
  width: 50%;
} */
/* @media screen and(max-width: 850px) {
  .individual-product {
    width: 80%;
  }
} */
