.product-card {
  max-width: fit-content;
  margin: 20px;

  /* border: 2px solid black; */
  /* padding-right: 20px; */
  /* margin-bottom: 30px; */
  display: flex;
  /* width: 100vw; */
  /* flex-wrap: wrap; */
  /* width: 100vw !important; */
  /* justify-content: space-around; */
}

.product-card-title {
  /* width: 100vw; */
  /* display: flex;
  flex-wrap: wrap; */
  /* display: flex;
  flex-wrap: wrap; */

  /* overflow-wrap: break-word; */
  font-family: 'Nunito', sans-serif;
}
.product-card-details {
  margin: 20px;
  /* display: flex;
  flex-wrap: wrap; */
}
.individual-product {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  transition: 1s;
  -webkit-transform: scale(1.01);
}
.product-cart-image:hover {
  -webkit-transform: scale(1.01);
  transition: 0.25s;
}
@media only screen and (max-width: 600px) {
  .product-card-details {
    margin: 0;
    margin-left: 10px;
    /* display: flex;
    flex-wrap: wrap; */
  }
  .product-card {
  }
  .individual-product {
    width: 95vw;
  }
}
