html {
  /* overflow-wrap: break-word !important; */
}
body {
}
.main-div {
  overflow-wrap: break-word;
}
.loader {
  text-align: center;
}
.signupPage,.loginPage,.profile{
  max-width: fit-content;;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  /* transition: 1s;
  -webkit-transform: scale(1.01); */
  padding: 50px;
  margin-top: 30px;
}
input{
  /* width: 300px; */
}
.formTitles{
  font-size: large;
}